    <% content_for :title, "Help" %>

    <h1>StaticPages控制器下的help方法</h1>
    <p>Find me in app/views/static_pages/help.html.erb</p>
    <p><a href='/'>Home</a></p>
    <p><a href='/static_pages/about'>About</a></p>